<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Edit user</title>
    <link rel='stylesheet' href='/stylesheets/WalpaperPageStyle.css' />
</head>

<body>
    <div class="container">
        <div class="justify-content-md-center">
            <h1 class="font-weight-bold">Edit user</h1>
            <form action="/admin/edit/<%= user._id%>" method="post">
                <table class="table table-striped table-bordered table-dark">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td><input type="text" name="username" value="<%= user.username %>" /></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="text" name="password" value="<%= user.password %>" /></td>
                        </tr>
                        <tr>
                        <tr>
                            <td>IBAN</td>
                            <td><input type="text" name="IBAN" value="<%= user.IBAN %>" /></td>
                        </tr>
                        <td>Localizaçao</td>
                        <td>
                            <div id="divloca">
                                <label for="loca">Location</label>


                                <p><small>Clique aqui para ser preenchido automaticamente</small></p>
                                <input id="loca" type="text" class="form-control" name="localizacao"
                                    value="<%= typeof user != 'undefined' ? user.localizacao : '' %>"
                                    readonly="readonly" required>
                            </div>
                            </tr>
                            <tr>
                                <td>Nome completo</td>
                                <td><input type="text" name="nomeCompleto" value="<%= user.nomeCompleto %>" /></td>
                            </tr>
                            <tr>
                                <td>NIF</td>
                                <td><input type="number" name="NIF" value="<%= user.NIF %>" /></td>
                            </tr>
                            <% if(isAdmin == true){ %>
                            <tr>
                                <td>Tipo Utilizador</td>
                                <td>
                                    <select name="tipoU" id="tipoU">
                                        <% if(user.tipoU == "Admin"){ %>
                                        <option value="Admin">Admin</option>
                                        <option value="User">User</option>
                                        <% } else {%>
                                        <option value="User">User</option>
                                        <option value="Admin">Admin</option>
                                        <% } %>
                                </td>
                            </tr>
                            <% } else {%>
                            <input type="hidden" name="tipoU" value="<%= user.tipoU %>">
                            <% } %>

                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/location.js"></script>
</body>

</html>