<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Users List</title>
  <link rel='stylesheet' href='/stylesheets/registerStyle.css' />
  <link rel="icon" href="#" />
</head>

<body>
  <div class="container">
    <div class="justify-content-md-center">
      <h3><a href="/admin/createUser">Create Users</a></h3>
      <h1 class="font-weight-bold">Users List</h1><br>
      <% if(users.length>0) { %>
      <table class="table table-striped table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">IBAN</th>
            <th scope="col">Endereço</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">NIF</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<users.length;i++) { %>
          <tr>
            <th scope="row"><%= i + 1%></th>
            <td><a href="/admin/showInfo/<%= users[i]._id%>" class="nameList"><%= users[i].username%></a></td>
            <td><%= users[i].IBAN%></td>
            <td><%= users[i].localizacao%></td>
            <td><%= users[i].nomeCompleto%></td>
            <td><%= users[i].NIF%></td>
            <td><%= users[i].tipoU%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <div>No users found.</div>
      <% } %>
      <h3><a href="/admin/ManageUser" class="inicialPage">Pagina anterior</a></h3>
    </div>
  </div>
</body>

</html>