<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Detail</title>
    <link rel='stylesheet' href='/stylesheets/WalpaperPageStyle.css' />
</head>

<body>
    <div class="container">
        <div class="justify-content-md-center">
            <h3><a href="/admin/listUsers">Users List</a></h3>
            <h1 class="font-weight-bold">User Detail</h1>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-dark">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td><%= user.username %></td>
                        </tr>
                        <tr>
                            <td>IBAN</td>
                            <td><%= user.IBAN %></td>
                        </tr>
                        <tr>
                        <tr>
                            <td>localizacao</td>
                            <td><%= user.localizacao %></td>
                        </tr>
                        <tr>
                            <td>Nome completo</td>
                            <td><%= user.nomeCompleto %></td>
                        </tr>
                        <tr>
                            <td>NIF</td>
                            <td><%= user.NIF %></td>
                        </tr>
                        <tr>
                            <td>Tipo Utilizador</td>
                            <td><%= user.tipoU %></td>
                        </tr>
                        <tr>
                            <td>Campanha em que efectuou uma doaçao</td>
                            <td>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-dark">
                                        <tbody>

                                            <% var totalGasto=0 %>
                                            <% if(donates.length>0) { %>
                                            <% for(var i=0; i<donates.length;i++) { %>
                                            <% var count=0 %>

                                            <% for(var j=0; j<donates[i].donations.length;j++) { %>

                                            <% if(donates[i].donations[j].estado==true && donates[i].donations[j].user==user.username ) { %>
                                            <% totalGasto+=donates[i].donations[j].montante %>
                                            <% count ++; %>

                                            <% } %>
                                            <% } %>
                                            <% if(count>0) { %>
                                            <tr>

                                                <td><a
                                                        href="/admin/InfoCamp/<%=donates[i]._id%>"><%=donates[i]._id%></a>
                                                </td>
                                            </tr>
                                            <% } %>
                                            <% } %>
                                            <% } else { %>
                                            <div>Nunca fez uma doaçao</div>
                                            <% } %>
                                            <tr>
                                                <td>Total gasto: <%= totalGasto %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h3><a href="/admin/edit/<%= user._id%>">EDIT User</a></h3>
            <form action="/admin/delete/<%= user._id%>" method="post">
                <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
            </br>
            <a href="/admin/listUsers" class="inicialPage">Pagina Anterior</a>
        </div>
    </div>
</body>

</html>